/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

h1, h2 {
    width: max-content;
    margin: 0 auto;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #EBEBEB;
}

p {
    width: max-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.carousel-item img {
    width: 80%;
    margin-left: 10%;
    height: auto;
}

.carousel-control-prev-icon {
    background-color: blue;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 3px 3px blue;
}

.carousel-control-next-icon {
    background-color: red;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 3px 3px red;
}

.logo {
    height: 80px;
    top: 0;
    left: 0;
}

.navbar {
    color: #EBEBEB;
    height: 80px;
    padding: 0;
}

#logintext {
    padding-right: 50px;
    font-size: 1.3em;
}

#beerlink {
    width: 150px;
    font-size: 1.1em;
    text-align: center;
    padding: 5px;
    border: 3px solid #333;
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 10px;
    transition: ease-in-out .2s;
}

#beerlink:hover {
    margin-left: 25px;   
}

#coffeelink {
    width: 150px;
    font-size: 1.1em;
    text-align: center;
    padding: 5px;
    border: 3px solid #333;
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 10px;
    transition: ease-in-out .2s;
}

#coffeelink:hover {
    margin-left: 25px;
}

#coffeeshopslink {
    text-decoration: none;
    font-size: 1.2em;
    width: max-content;
    color: blue;
    font-weight: bold;
    transition: ease-in-out .2s;
}

#brewerieslink {
    text-decoration: none;
    font-size: 1.2em;
    width: max-content;
    color: red;
    font-weight: bold;
    transition: ease-in-out .2s;
}

#coffeeshopslink:hover {
    text-shadow: 0 0 10px blue;
    color: white;
}

#brewerieslink:hover {
    text-shadow: 0 0 10px red; 
    color: white;
}

.logtext {
    width: max-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.centerdiv {
    margin: 0 auto;
    width: max-content;
    font-size: 1.5em;
    margin-top: 15px;
}

.signwrapper {
    min-height: 500px;
}

.new_user {
    width: max-content;
    margin: 0 auto;
}